html{
    background: rgb(46, 42, 42);
}
.container{
    text-align: center;
    margin-top: 100px;
}
table{
    margin:auto;
    padding-top: 10px;
}
input{
    font-size: 30px;
    border-radius: 12px;
    height: 40px;
    border: none;
}
button{
    font-size: 25px;
    border-radius: 12px;
    width: 70px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    background: cyan;
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-bottom: 5px;
    margin-left: 3px;
}

.calculator{
    display: inline-block;
    padding: 35px 10px;
    background: darkcyan;
    border-radius: 12px;
}
